<%#div class="col-lg-3 col-md-4 col-sm-6 col-xsm-12" style="border: 1px solid black;">
	<div class="container">
		this is a project card
	</div>
</div%>

<div class="card">
	<div class="card-body">
		<h5 class="card-title">Temp</h5>
		<h6 class="card-subtitle mb-2 text-muted">Author</h6>
		<p class="card-text">This will be a short description of the project. Lorem ipsum doloret est.</p>
    	<a href="#" class="card-link hover-dark"><span class="fab fa-github"></span> GitHub</a>
    	<a href="#" class="card-link hover-dark">Author</a>
	</div>
</div>