<%#div class="col-lg-3 col-md-4 col-sm-6 col-xsm-12" style="border: 1px solid black;">
	<div class="container">
		this is a project card
	</div>
</div%>
<%# d-flex flex-column align-items-baseline justify-content-center text-center %>
<div class="card" style="height: 100%;">
	<div class="card-body ">
		<h5 class="card-title"><%= name || 'Title' %></h5>
		<h6 class="card-subtitle mb-2 text-muted"><%= author || 'Author'%></h6>
		<p class="card-text"><%= description || 'description of the project' %></p>
    	<a href="<%= link %>" class="card-link hover-dark"><span class="fab fa-github"></span> See Project</a>
		<%# link_to('<span class="fab fa-github"></span> GitHub', link, { class: 'card-link hover-dark' }) %>
	</div>
</div>
