<div class="jumbotron jumbotron-fluid" style="margin-top: 57px; margin-bottom: 0">
	<div class="container text-center">
		<h1 class="display-2 title">Open Sourcery</h1>
		<p class="lead text-muted my-3">Open Source Focused Web Development Club at the University of Maryland</p>
		<hr class="my-4"/>
		<a href="#join" class="btn btn-primary btn-lg">Join Us</a>
		<%= link_to 'Sponsorshp', sponsors_path, { class: 'btn btn-primary btn-lg' } %>
	</div>
</div>
<%# "About Us" Section %>
<section class="about bg-light">
	<div id="section-about-us" class="container">
		<div class="row">
			<div class="col-12">
				<h1 class="title display-4">About Us</h1>
				<hr class="my-4" />
				<h3 class="subtitle">Who Are We</h3>
				<p class="lead">
					Open Sourcery is a student-run club at the University of Maryland focused
					on promoting open-source software by developing interesting, fun, and 
					useful systems. We are focused on web-based systems, but we work on anything
					from machine learning to robotics.
				</p>
				<h3 class="subtitle text-right">What We Do</h3>
				<p class=""></p>
			</div>
		</div>
	</div>
</section>
<%# Projects Section %>
<section class="projects">
	<div class="container text-center">
		<h1 class="title display-4">Projects</h1>
		<p class="lead my-3">Check out some of the cool things we've done</p>
		<%= link_to 'Projects', projects_path, { class: 'btn btn-primary btn-lg my-3'} %>
	</div>
</section>
<%# "How to Join" Section %>
<section class="join">
<div id="section-join" class="container">
	<div class="row">
		<div class="col-12">
			<h1 id="join" class="title">How To Join</h1>
			<hr class="my-4" />
			<p class="lead font-weight-normal">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Porttitor lacus luctus accumsan tortor posuere ac ut consequat semper. Amet aliquam id diam maecenas ultricies mi eget mauris. Viverra orci sagittis eu volutpat odio facilisis mauris. Sed libero enim sed faucibus turpis in eu mi. Fusce ut placerat orci nulla. Porttitor massa id neque aliquam vestibulum morbi blandit. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros. Nec ultrices dui sapien eget mi proin. Et malesuada fames ac turpis egestas maecenas pharetra. Donec massa sapien faucibus et molestie. Laoreet non curabitur gravida arcu ac. Ipsum nunc aliquet bibendum enim facilisis gravida neque convallis a. Tortor aliquam nulla facilisi cras fermentum odio eu feugiat. Et ultrices neque ornare aenean euismod elementum nisi. A condimentum vitae sapien pellentesque habitant. Eget gravida cum sociis natoque penatibus et magnis dis. Lacus vestibulum sed arcu non odio euismod lacinia.
			</p>
		</div>
	</div>
</div>
</section>
<%# "Sponsors" Section %>
<div id="section-about-us" class="container">
	<div class="row">
		<div class="col-12">
			<h1 class="title">Our Sponsors</h1>
			<hr class="my-4" />
			<p class="lead font-weight-normal">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Porttitor lacus luctus accumsan tortor posuere ac ut consequat semper. Amet aliquam id diam maecenas ultricies mi eget mauris. Viverra orci sagittis eu volutpat odio facilisis mauris. Sed libero enim sed faucibus turpis in eu mi. Fusce ut placerat orci nulla. Porttitor massa id neque aliquam vestibulum morbi blandit. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros. Nec ultrices dui sapien eget mi proin. Et malesuada fames ac turpis egestas maecenas pharetra. Donec massa sapien faucibus et molestie. Laoreet non curabitur gravida arcu ac. Ipsum nunc aliquet bibendum enim facilisis gravida neque convallis a. Tortor aliquam nulla facilisi cras fermentum odio eu feugiat. Et ultrices neque ornare aenean euismod elementum nisi. A condimentum vitae sapien pellentesque habitant. Eget gravida cum sociis natoque penatibus et magnis dis. Lacus vestibulum sed arcu non odio euismod lacinia.
			</p>
		</div>
	</div>
</div>
