{{#extend "application"}}
    {{#content "head"}}
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/index.css">
    {{/content}}
    {{#content "body"}}
        <div class="jumbotron jumbotron-fluid bg-dark" style="margin-top: 57px; margin-bottom: 0">
            <div class="container text-center">
                {{!-- <%= image_tag 'Badge.png', width: '25%', height: '25%' %> --}}
                <img src="assets/images/Badge.png" alt="Open Sourcery Logo" width="25%" height="25%">
                <h1 id="main-title" class="title color-primary">Open Sourcery</h1>
                <p class="lead my-3 color-primary">Wednesdays, 6:30pm-8pm in the <a class="hover-light" href="https://sandbox.cs.umd.edu/"
                        style="text-decoration: underline;">Sandbox</a></p>
                <hr class="my-4" />
                {{!-- <%= link_to 'https://terplink.umd.edu/organization/open-sourcery', { class: 'btn btn-primary btn-lg color-dark' } do %> --}}
                <a class="btn btn-primary btn-lg color-dark" href="https://terplink.umd.edu/organization/open-sourcery">
                    <i class="fas fa-user-plus"></i> Join Us
                </a>
                {{!-- <% end %> --}}
                {{!-- #= link_to 'Sponsorship', sponsors_path, { class: 'btn color-primary hover-light btn-lg' } --}}
            </div>
        </div>
        {{!-- "About Us" Section --}}
        <section id="about" class="page-section">
            <div id="section-about-us" class="container">
                <h1 class="title display-4">About Us</h1>
                <div class="row mb-4 justify-content-center">
                    <h3 class="subtitle text-center">Who Are We</h3>
                    <div class="col-12">
                        <p class="">
                            Open Sourcery is a software engineering and web development
                            club at the University of Maryland. We aim to promote and
                            teach software development, enable member projects, and
                            lower the barrier of entry to programming.
                        </p>
                    </div>
                </div>
                <div class="row mb-4 justify-content-center">
                    <h3 class="subtitle text-center">What We Do</h3>
                    <div class="col-12">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 col-md-4 justify-center">
                                    <span class="about-icon"><i class="fas fa-chalkboard-teacher"></i></span>
                                    <h4 class="title">Workshops</h4>
                                    <hr />
                                    <p class="">
                                        Members lead educational workshops on topics they
                                        are knowledgeable and passionate about. We host
                                        workshops bi-weekly and at bigger events such as
                                        hackathons.
                                    </p>
                                </div>
                                <div class="col-12 col-md-4 justify-center">
                                    <span class="about-icon"><i class="fas fa-desktop"></i></span>
                                    <h4 class="title">Projects</h4>
                                    <hr />
                                    <p class="">
                                        We support members leading projects by providing them
                                        with resources and community support, and help other
                                        members find and join a project they are passionate
                                        about.
                                    </p>
                                </div>
                                <div class="col-12 col-md-4 justify-center">
                                    <span class="about-icon"><i class="fas fa-code"></i></span>
                                    <h4 class="title">Code Days</h4>
                                    <hr />
                                    <p class="">
                                        In the future, we plan on hosting weekend-long hackathons
                                        and day-long code days. Some will be member-only,
                                        but most will be open to the public free of charge.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4 justify-content-center">
                    <h3 class="subtitle text-center">Get Connected</h3>
                    <div class="col-12 text-center mb-4">
                        <p>
                            Interested in getting involved? Come join our community!
                        </p>
                    </div>
                    <div class="col-12 text-center">
                        <a href="{{ groupme_url }}" class="btn btn-primary" target="_blank">
                            {{!-- <%= image_tag 'GroupMe.png', width: '16px', height: '16px' %> GroupMe --}}
                            <img src="assets/images/Groupme.png" width="16px" height="16px"> GroupMe
                        </a>
                        <a href="https://discord.gg/BdfcMRk" class="btn btn-primary" target="_blank">
                            <span class="fab fa-discord"></span> Discord
                        </a>
                        <a href="mailto:opensourceryumd@gmail.com" class="btn btn-primary" target="_blank">
                            <span class="fa fa-envelope"></span> Email
                        </a>
                    </div>
                </div>
            </div>
            </div>
        </section>
        {{!-- "Projects Section" --}}
        <section id="projects" class="page-section">
            <div class="container text-center">
                <h1 class="title display-4">Projects</h1>
                <div class="row color-dark">
                    {{!-- <% @projects.each do |p| %>
                    <div id="project-card-<%= p[:id] %>" class="col-12 col-sm-6 col-lg-3 pb-4">
                        <%= render 'shared/project-card', p %>
                    </div>
                    <% end %> --}}
                    {{#each projects}}
                        <div id="project-card-{{id}}" class="col-12 col-sm-6 col-lg-3 pb-4">
                            {{> project-card name=name author=author link=link description=description}}
                        </div>
                    {{/each}}
                </div>
                {{!-- <%#= link_to 'Projects', projects_path, { class: 'btn btn-primary btn-lg color-dark my-3'} %> --}}
                <a class="btn btn-lg btn-primary color-dark my-3" href="https://github.com/OpenSourceryClub"
                    target="_blank"><span class="fab fa-github"></span> All Projects</a>
            </div>
        </section>
        {{!-- "Sponsors" Section --}}
        {{!-- < section class="sponsors bg-light color-dark">
<div id="section-about-us" class="container">
	<div class="row">
		<div class="col-12 text-center">
			<h1 class="title">Our Sponsors</h1>
			<p class="lead font-weight-normal">
				Our generous sponsors enable us to create amazing things and
				spread the love of web development. We would not be able to do
				what we do without them.
			</p>
			<%= link_to 'Become a Sponsor', sponsors_path, { class: "btn btn-primary btn-lg my-3" } %>
        </div>
        </div>
        </div>
        </section % --}}
    {{/content}}
    {{#content "foot"}}
        <script src="assets/scripts/index.js"></script>
    {{/content}}
{{/extend}}
