{{#extend "application"}}
    {{#content "head"}}
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/projects.css">
    {{/content}}
    {{#content "body"}}
        {{!-- "About Us" Section --}}
        <section id="about" class="page-section">
            <div id="section-about-us" class="container">
                <h1 class="title display-4">What we're Working On</h1>
                <div class="row mb-4 justify-content-center">
                    <div class="col-12">
                        <p class="">
                            Open Sourcery is a software engineering and web development
                            club at the University of Maryland. We aim to promote and
                            teach software development, enable member projects, and
                            lower the barrier of entry to programming.
                        </p>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="card" style="width: 100%;">
                            <div class="row ">
                                <div class="card-body">
                                    <h5 class="card-title">Architekt</h5>
                                    <p class="card-text">A dead-simple static site generator powered by Handlebars.</p>
                                    <p class="card-text">
                                        <small class="text-muted">Contributors:</small>
                                        <img src=""/>
                                    </p>
                                    <a href="https://github.com/opensourceryclub/Architekt" class="btn btn-primary">Github</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="card" style="width: 100%;">
                            <div class="row ">
                                <div class="card-body">
                                    <h5 class="card-title">Architekt</h5>
                                    <p class="card-text">A dead-simple static site generator powered by Handlebars.</p>
                                    <p class="card-text">
                                        <small class="text-muted">Contributors:</small>
                                        <img src=""/>
                                    </p>
                                    <a href="https://github.com/opensourceryclub/Architekt" class="btn btn-primary">Github</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
    {{/content}}
    {{#content "foot"}}
        <script src="assets/scripts/index.js"></script>
    {{/content}}
{{/extend}}
