<%# LOCALS

	* num_rows: Number - number of rows per page
%>
<!-- div class="container">
	<% num_rows.times do |row| %>
		<div class="row">
			<% 4.times do |col| %>
				<div class="col-md-3 col-sm-6 col-xsm-12">
					<%#= render partial: 'shared/project-card', locals: { name: null,} %>
				</div>
			<% end %>
		</div>
	<% end %>
</div -->
<div class="container">
	<div class="row">
		<%= @projects.each do |proj| %>
			<div class="col-md-3 col-sm-6 col-xsm-12">
				<%= render partial: 'project-card', locals: { project: proj } %>
			</div>
		<% end %>
	</div>
</div>