<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
	<!--a class="navbar-brand" href="#">CompuTerps</a-->
	{{!-- <%= link_to root_path, { class: 'navbar-brand text-uppercase' } do %>
		<%= image_tag 'Badge.png', width: 40, height: 40 %> <span class="navbar-brand-text">Open Sourcery </span>
	<% end %> --}}
	<a href="/" class="navbar-brand text-uppercase">
		<img src="assets/images/Badge.png" alt="Open Sourcery Logo"width="40" height="40">
		<span class="navbar-brand-text">Open Sourcery</span>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
	<ul class="navbar-nav ml-auto">
		<!--li class="nav-item">
			<%#= link_to guild_dashboard_index_path, class: 'nav-link' do %>
				Guild
			<%# end %>
		</li-->
		<li class="nav-item">
			<a class="nav-link" href="projects.html">
				<span class="fab"></span> Projects
			</a>
		</li>
		<li class="nav-item">
			{{!-- <%= link_to 'https://github.com/OpenSourceryClub', class: 'nav-link' do %>
				<i class="fab fa-github"></i> GitHub
			<% end %> --}}
			<a class="nav-link" href="https://github.com/OpenSourceryClub">
				<span class="fab"></span> GitHub
			</a>
		</li>
	</ul>
  </div>
</nav>

{{!-- <%# block comment hack %>
<% if false %>
	<li class="nav-item">
		<%= link_to 'Projects', projects_path, { class: 'nav-link' } %>
	</li>
	<li class="nav-item">
		<%= link_to 'Sponsors', sponsors_path, { class: 'nav-link' } %>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="#">Blog</a>
	</li>
	<li class="nav-item">
		<%= link_to 'Guild', guild_path, { class: 'nav-link' } %>
	</li>
<% end %> --}}
