<div class="card" style="height: 100%;">
	<div class="card-body">
		<div>
			<h5 class="card-title">{{ name }}</h5>
			<h6 class="card-subtitle mb-2 text-muted">{{ author }}</h6>
			<p class="card-text">{{ description }}</p>
		</div>
		<div class="mt-2">
	    	<a href="{{ link }}" class="card-link hover-dark"><span class="fab fa-github"></span> See Project</a>
		</div>
	</div>
</div>
