$theme-colors: (
  "primary": #18bbea,// rgb(58, 170, 255), // logo primary: #08abca // logo variation: #18bbea
  "secondary": rgb(230, 111, 184),
  "light": #FFFFFF,
  "dark": #101030,
  "danger": #FF3777
);

@import "bootstrap";
body {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: map-get($theme-colors, "dark");
    font-size: 18px;
  }

  p {
    // font-size: 13pt;
  }

  .color-primary,
  .color-primary h1 h2 h3 h4 h5 h6 p a li {
    color: map-get($theme-colors, "primary");
  }

  .color-light,
  .color-light h1 h2 h3 h4 h5 h6 p a li {
    color: map-get($theme-colors, "light");
  }

  .color-dark,
  .color-dark h1 h2 h3 h4 h5 h6 p a li {
    color: map-get($theme-colors, "dark");
  }

  .color-primary a:hover {
    color: map-get($theme-colors, "light");
    transition: color .2s;
    -webkit-transition: color .2s;
  }
  a.hover-dark:hover {
    color: map-get($theme-colors, "dark");
    transition: color .2s;
    -webkit-transition: color .2s;
  }
  a.hover-light:hover {
    color: map-get($theme-colors, "light");
    transition: color .2s;
    -webkit-transition: color .2s;
  }

  .nav-link, .navbar-brand{
    color: map-get($theme-colors, "light");
  }

  .title {
    @extend .text-uppercase, .mb-5, .text-center;
    font-weight: bold;
  }

  .subtitle {
    @extend .text-uppercase, .mb-4;
    font-weight: bold;

  }
