<%
=begin%>
 <div class="container">
	<div class="row">
		<h1 class="title display-2">404</h1>
		<p class="lead">Page not found.</p>
	</div>
</div>
<div class="jumbotron jumbotron-fluid" style="margin-top:57px;">
	<div class="container-fluid text-center">
		<h1 class="display-2 title">Projects</h1>
		<hr class="my-4">
		<p class="lead">Some of the Projects We've Done</p>
	</div>
</div> 
<%
=end%>
<section height="100%">
	<div class="text-center" style="margin-left: 5rem; margin-right: 5rem; margin-top: 10%; margin-bottom: 20%">
		<h1 class="display-2">404</h1>
		<br />
		<p class="lead">Page not found. Are you sure you spelled the URL correctly?</p>
	</div>
</section>