<section height="100%">
	<div class="d-flex flex-column justify-content-center align-items-center color-light" style="padding-top: 5rem;">
		<h1 style="font-size: 8vw;">404</h1>
		<br />
		<p class="lead">Page not found. Are you sure you spelled the URL correctly?</p>
	</div>
</section>