<div class="d-flex flex-column justify-content-center align-items-center color-light" style="padding: 5rem;">
		<h1 class="title display-2">500</h1>
		<p class="lead">An internal error occurred.</p>
</div>