/*********************
 *** Footer Styles ***
 *********************/
.footer {
  position: absolute;
  // aborder-top: 1px solid black;
  // bottom: 0; /* why does this mess the footer up? */
  right: 0;
  width: 100%;
}

.footer > div {
  width: 100%;
}

.footer p {
  width: 100%;
  text-align: center;
}
