@import url("https://fonts.googleapis.com/css?family=Gugi|Raleway|Fredoka+One|Merriweather+Sans");

// $text-tags: h1, h2, h3, h4, h5, h6, p, li;
$text-tags: h1, h2;
@import "variables";
@import "bootstrap/scss/bootstrap";
@import "footer";
@import "header";

body {
  font-family: "Merriweather Sans", sans-serif;
  background-color: map-get($theme-colors, "dark");
  // font-size: 18px;
  font-size: 1em;
}


// Create color utility functions
@each $theme, $color in $theme-colors {
  .color-#{$theme} {
    color: $color;

    a:hover {
      color: map-get($theme-complements, $theme);
      transition: color .2s;
      -webkit-transition: color .2s;
    }

    @each $tag in $text-tags {
      #{$tag} {
        color: $color;
      }
    }
  } // end .color-theme

  a.hover-#{theme} {
    color: $color !important;
    transform: 0.2s color;
    -webkit-transform: 0.2s color;
  }
} // end each

.nav-link,
.navbar-brand {
  color: map-get($theme-colors, "light");
}

.title {
  @extend .text-uppercase, .mb-5, .text-center;
  font-weight: bold;
}

.subtitle {
  @extend .text-uppercase, .mb-4;
  font-weight: bold;
}
