@import "base";

.appRoot {
	width: 100%;
	height: 100%;
}

#main-title.title {
	font-size: 3.5rem !important;
}

section {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;

	&.page-section {
		&:nth-child(odd) {
			@extend .bg-dark, .color-primary;
		}

		&:nth-child(even) {
			@extend .bg-light, .color-dark;
		}
	}

	// .page-section {
	// 	@extend .bg-dark, .color-primary;
	// }
}

.about-icon {
	display: block;
	font-size: 48px;
	text-align: center;
}

#projects > .container {
	@include media-breakpoint-up(xl) {
		max-width: 1280px;
	}
}
