<div class="container-fluid footer bg-dark py-4">
	<div class="row justify-center color-primary" style="margin: 0">
		<p class="">Copyright &copy; 2019 Open Sourcery</p>
	</div>
	<% if false %>
	<div class="row justify-content-center color-light">
	<h2>
		<i class="fab fa-discord"></i>
		<%= image_tag 'GroupMe.svg', width: '32px', height: '32px' %>
	</h2>
	<div>
	<% end %>
</div>
